body {
  background:#f3f3f3;
}
.App {
  text-align: center;
    height: fill;
    background-color: red;
    background-image:
      linear-gradient(
        rgb(212, 102, 102), #2da8a0, rgb(193, 159, 184)
      );
  }
.navbar {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  font-family: 'Roboto', sans-serif;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}
.lego {
  font-size: 30px;
  margin-left: 25px;
  margin-right: 15px;
  cursor: pointer;
}
.bigLego {
  font-size: 50px;
  margin-left: 25px;
  margin-right: 15px;
  cursor: pointer;
}
.nav {
  flex: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}
.navList {
  display: flex;
  justify-content: center;
  margin: 0%;
  padding: 0%;
  list-style: none;
}
.navItems {
  margin-right: 30px;
  font-size: 25px;
  font-weight: 300;
  cursor: pointer;
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}
.userImage {
  width: 50px;
  height: 55px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
}
.searchUser {
  margin-left: 30px;
  font-size: 30px;
  cursor: pointer;
}
.headerTop {
  font-size: 63px;
  color: aquamarine;
}
.oceanImage {
  width: 100%;
  height: 1000px;
  object-fit: cover;
}
.blogPost {
  width: 385px;
  margin: 0px 25px 40px 25px;
}
.blogImage {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
}
.blogInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blogTags {
  font-size: 11px;
  color: gold;
}
.blogTitle {
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
  cursor: pointer;
}
.blogTime {
  font-style: italic;
  font-size: 13px;
  margin-top: 15px;
}
.blogContent {
  font-size: 14px;
  color: green;
  line-height: 24px;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.blogBox {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: center;
}
.createBlog {
  margin-left: 200px;
  padding: 62px;
}
.createBlogTitle {
  font-size: 45px;
  padding: 20px;
  width: 70vw;
  display: flex;
  align-items: center;
}
.blogContent2 {
  font-size: 30px;
  padding: 20px;
  width: 70vw;
  height: 52vh;
  display: flex;
  align-items: center;
}
.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: black;
  background-color: red;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}
.link {
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}
.link nav a {
  transition: all 0.4s;
}
.link nav a:hover {
  background: #00bcd1;
  border-bottom-width: 3px;
  border-bottom: 3px solid #1a237e;
  color: red;
}
.link nav .active {
  background-color: #8100d1;
  border-bottom-width: 3px;
  border-bottom-color: #1a237e;
}
.footer {
  margin-bottom: auto;
  position: absolute;
  bottom: 0;
  width: 100;
  align-items: center;
  height: 2.5rem;
}
.randomAdviceBox {
	background-size: 400% 400%;
  padding: 175px;
}
.searchAdviceBox {
  padding: 175px;
  border: solid black;
}
.login {
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginTop {
  font-size: 50px;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin: 10px 0;
}

.loginText {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}
.register {
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registerTop {
  font-size: 50px;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
}

.registerText {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.registerInput:focus {
  outline: none;
}

.registerButton2 {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}
.aboutPage {
  height: 80vh;
  font-size: 45px;
  color: white;
}
.advice {
  font-size: 25px;
  color: white;
}
.singlePost {
  height: 80vh;
}
.singlePostTitle {
  font-size: 100px;
}
.singlePostAuthor {
  font-size: 20px;
}
.singlePostContent {
  font-size: 35px;
}